.container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .button {
        display: none;
    }
}


@media (max-width: 318px) {
    .title {
        font-size: 20px;
    }
}

.title {
    color: #fa8c16;
    font-size: 100px;
    margin-right: 20px;
}