.puzzleBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 574px;
    height: 574px;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 30px;
    max-width: 200px;
    margin-right: 20px;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.rules {
margin-top: 27px;
}