.puzzleBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 657px;
    height: 657px;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 30px;
}