.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  #openPopupButton {
    margin-top: 20px;
  }
  
  #closePopupButton {
    margin-top: 20px;
  }
  
  